= simple_form_for @status, :html => {class: 'form-horizontal'} do |f|

  = f.input :name
  = f.input :description

  .form_actions
    = f.button :submit
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-default'
