.bar-title
  %h2.pull-left= @issue.title
  .btn-group.pull-right
    = link_to issue_acts_path(@issue), class: 'btn btn-default', title: t('issue.actions') do
      %span.fa.fa-flag-checkered
    = link_to edit_issue_path(@issue), class: 'btn btn-default', title: t('issue.edit') do
      %span.fa.fa-edit
    = link_to issue_path(@issue), class: 'btn btn-default', title: t('issue.destroy'), method: :delete, data: { confirm: t('issue.confirm_destroy') } do
      %span.fa.fa-trash-o

.well
  %dl.dl-horizontal
    = @issue.status
    = @issue.report_date
    = @issue.description
    = @issue.creator
    = @issue.notifier
    = @issue.follower
    = @issue.device
    = @issue.application
    = @issue.detection
    = @issue.impact

- unless @issue.acts.empty?
  .well
    %dl.dl-horizontal
      = @issue.actions_show

.well
  %dl.dl-horizontal
    = @issue.detailed_cause
    = @issue.start_date
    = @issue.end_date
    = @issue.closure_date
    = @issue.duration1
    = @issue.duration2
    = @issue.app_status
    = @issue.category
    = @issue.problem

= link_to t('helpers.submit.back'), issues_path, :class => 'btn btn-default'
