.bar-title
  %h2.pull-left= t('model.device')
  .btn-group.pull-right
    = link_to devices_path(format: 'csv'), class: 'btn btn-default', title: t('device.export') do
      %span.fa.fa-download
    = link_to new_device_path, class: 'btn btn-default', title: t('device.new') do
      %span.fa.fa-plus

%form.well.form-inline.search
  .row
    = search_input('device')
    = filter_input('device', 'user')
    = filter_input('device', 'infrastructure')

%form.well.form-inline.search
  .row
    = filter_input('device', 'virtual')
    = filter_input('device', 'os')


#devices.partial
  = render :partial => 'listing', :locals => {:devices => @objects}
