.bar-title
  %h2.pull-left= @device.name
  .btn-group.pull-right
    = link_to edit_device_path(@device), class: 'btn btn-default', title: t('device.edit') do
      %span.fa.fa-edit
    = link_to device_path(@device), class: 'btn btn-default', title: t('device.destroy'), method: :delete, data: { confirm: t('device.confirm_destroy') } do
      %span.fa.fa-trash-o

.well
  %dl.dl-horizontal
    %dt= t('device.description')
    %dd= @device.description
    %dt= t('device.ip')
    %dd= @device.ip
    %dt= t('device.saved')
    %dd= @device.saved
    %dt= t('device.os')
    %dd= @device.os
    %dt= t('device.infrastructure')
    %dd= @device.infrastructure
    %dt= t('device.service')
    %dd= @device.service
    %dt= t('device.device')
    %dd= @device.device.name unless @device.device.nil?
    %dt= t('device.virtual')
    %dd= @device.virtual
    = @device.virtual_detailed
    %dt= t('device.criticality')
    %dd= @device.criticality

= link_to t('helpers.submit.back'), devices_path, :class => 'btn btn-default'
