%legend.bartitle
	%h2.pull-left= @device.name.html_safe 
	.btn-toolbar.text-right 
		.btn-group
			= link_to edit_device_path(@device), :class => 'btn', :title => t('devices.edit') do
				%i.icon-edit
			= link_to @device, :class => 'btn', :title => t('devices.destroy'), method: :delete, data: { confirm: t('devices.confirm_destroy') } do
				%i.icon-remove

.well
	%dl.dl-horizontal
		%dt= t('devices.description')
		%dd= @device.description
		%dt= t('devices.ip')
		%dd= @device.ip
		%dt= t('devices.saved')
		%dd= @device.saved
		%dt= t('devices.os')
		%dd= @device.os
		%dt= t('devices.infrastructure')
		%dd= @device.infrastructure
		%dt= t('devices.service')
		%dd= @device.service
		%dt= t('devices.user_id')
		%dd= @device.user.name
		%dt= t('devices.virtual')
		%dd= @device.virtual
		= @device.virtual_detailed


= link_to t('helpers.submit.back').html_safe, devices_path, :class => 'btn'
