- if users.empty?
  = t('user.empty')

- else
  = paginate users

  %table.table.table-striped
    %tr
      %th= t('user.email')
      %th= t('user.last_name')
      %th= t('user.first_name')
      %th= t('user.admin')
      %th
    %tbody
      - users.each do |user|
        %tr
          %td= user.email
          %td= user.last_name
          %td= user.first_name
          %td= user.decorate.admin?
          %td.actions
            = link_to user, class: 'btn btn-default', title: t('user.show') do
              %span.fa.fa-eye
            = link_to edit_user_path(user), class: 'btn btn-default', title: t('user.edit') do
              %span.fa.fa-edit
            = link_to user_path(user), class: 'btn btn-default', title: t('user.destroy'), method: :delete, data: { confirm: t('user.confirm_destroy') } do
              %span.fa.fa-trash-o

