.bar-title
  %h2.pull-left= t('model.user')
  .btn-group.pull-right
    = link_to new_user_path, class: 'btn btn-default', title: t('device.new') do
      %span.fa.fa-plus

%form.well.form-inline.search
  .row
    = search_input('user')
    = filter_checkbox('user', 'admin', 1)


#users.partial
  = render :partial => 'listing', :locals => {:users => @objects}
