%legend.bartitle
	%h2.pull-left= @user.name.html_safe 
	.btn-toolbar.text-right 
		.btn-group
			= link_to edit_user_path(@user), :class => 'btn', :title => t('users.edit') do
				%i.icon-edit
			= link_to @user, :class => 'btn', :title => t('users.destroy'), method: :delete, data: { confirm: t('users.confirm_destroy') } do
				%i.icon-remove

.well
	%dl.dl-horizontal
		%dt= t('users.last_name')
		%dd= @user.last_name
		%dt= t('users.first_name')
		%dd= @user.first_name
		%dt= t('users.email')
		%dd= @user.email
		%dt= t('users.admin')
		%dd= @user.admin ? t('helpers.words.yeslabel') : t('helpers.words.nolabel')

.well
	%dl.dl-horizontal
		%dt= t('users.last_sign_in_at')
		%dd= @user.last_sign_in_at
		%dt= t('users.last_sign_in_ip')
		%dd= @user.last_sign_in_ip
		%dt= t('users.sign_in_count')
		%dd= @user.sign_in_count

= link_to t('helpers.submit.back').html_safe, users_path, :class => 'btn'
