%legend.bartitle
	%h2.pull-left= @issue.description.html_safe if @issue.description
	.btn-toolbar.text-right 
		.btn-group
			= link_to edit_issue_path(@issue), :class => 'btn', :title => t('issues.edit') do
				%i.icon-edit
			= link_to @issue, :class => 'btn', :title => t('issues.destroy'), method: :delete, data: { confirm: t('issues.confirm_destroy') } do
				%i.icon-remove

.well
	%dl.dl-horizontal
		%dt= t('issues.status')
		%dd= @issue.status.name
		%dt= t('issues.report_date')
		%dd= @issue.report_date
		%dt= t('issues.description')
		%dd= @issue.description.html_safe  
		%dt= t('issues.creator')
		%dd= @issue.creator.name
		%dt= t('issues.notifier')
		%dd= @issue.notifier.name
		%dt= t('issues.equipment')
		%dd= @issue.equipment
		%dt= t('issues.application')
		%dd= @issue.application

.well
	%dl.dl-horizontal
		%dt= t('issues.action')
		%dd= @issue.action
		%dt= t('issues.next_action')
		%dd= @issue.next_action
		%dt= t('issues.detailed_cause')
		%dd= @issue.detailed_cause
		%dt= t('issues.start_time')
		%dd= @issue.start_time
		%dt= t('issues.end_time')
		%dd= @issue.end_time

.well
	%dl.dl-horizontal
		%dt= t('issues.closure_date')
		%dd= @issue.closure_date
		%dt= t('issues.detection')
		%dd= @issue.detection
		%dt= t('issues.app_status')
		%dd= @issue.app_status
		%dt= t('issues.category')
		%dd= @issue.category.name unless @issue.category.nil?
		%dt= t('issues.problem')
		%dd= @issue.problem

= link_to t('helpers.submit.back').html_safe, issues_path, :class => 'btn'
