.navbar.navbar-default
  .navbar-header
    = link_to 'WebTTK', issues_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to t('model.issue'), issues_path
      %li= link_to t('model.status'), statuses_path
      %li= link_to t('model.category'), categories_path
      %li= link_to t('model.user'), users_path
      %li= link_to t('model.device'), devices_path
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          = t('model.statistic')
          %b.caret
        %ul.dropdown-menu
          %li= link_to t('statistic.by_month'), statistic_path('by_month')

    %ul.nav.navbar-nav.navbar-right
      %li= link_to current_user.name, edit_user_path(current_user)
      %li
        = link_to destroy_user_session_path, method: :delete, alt: t('devise.logout') do
          = image_tag "exclamation.png", alt: t('devise.logout'), title: t('devise.logout'), class: :destroy



